* {
  box-sizing: border-box;
}

header {
    width: 100%;
    background: white;
    border-bottom: .5px solid #777777;
    margin-top: 0px;
}

body {
  background: #ccc;
  margin: 0 auto;
}

#name {
  float: left;
  width: 260px;
  padding: 23px;
  text-align: center;
  background-color: #4aaaa5;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times', serif;
  white-space: nowrap;
  display: inline-block;
}

section {
  margin-bottom: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  border-bottom: solid .5px #888;
}

.wrapper {
  width: 960px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  clear: both;
}

.wrapTop {
  width: 960px;
  /* padding: 20px;
  margin: 0 auto; */
  /* margin-bottom: 20px; */
  background-color: white;
  clear: both;
}

.aboutMe {
  font-size: 30px;
  color: #4aaaa5;
  clear: both;
  width: 960px;
  font-family: 'Times', serif;
  font-weight: bold;
  padding-bottom: 20px;
}

.text {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14pt;
  line-height: 26px;
  padding-top: 20px;
}

img.photo {
  max-width: 200px;
  max-height: 200px;
  float: left;
  margin-right: 20px;
  padding-top: 20px;
}

.hairline {
  width: 100%;
  border: solid .5px #777777;
  clear: both;
}

/* navigation */

#bullets {
  float: left;
  width: 695px;
  padding: 20px 0px 20px 20px;
  background-color: #fff;
  display: inline-block;
}

ul {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  float: right;
}

li {
  float: left;
  padding: 10px 0px 10px 20px;
}

li a {
  color: #777777;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:hover {
      color: #4aaaa5;
}

/* footer */

  footer {
    background-color: #666666;
    padding: 20px;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    display: block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
    color: white;
  }

  /* media queries */


  @media screen and (max-width: 968px) {
    .wrapper {
      width: 768px;
      padding: 20px;
      margin: 0 auto;
      margin-bottom: 20px;
      background-color: white;
      clear: both;
    }
    #bullets {
      /* float: left; */
      width: 495px;
      padding: 20px 0px 20px 20px;
      background-color: #fff;
      /* display: inline-block; */
    }
    .wrapTop {
      width: 768px;
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      width: 468px;
      padding: 20px;
      margin: 0 auto;
      margin-bottom: 20px;
      background-color: white;
      clear: both;
    }

    .wrapTop {
      width: 100%;
      padding: 0px;
      /* padding: 20px;
      margin: 0 auto; */
      /* margin-bottom: 20px; */
      /* background-color: white; */
      /* clear: both; */
    }

    /* li a {
      clear: all;
      margin-right: 10px;
      padding-left: 10px;
    } */
    #name {
      /* clear: all; */
      /* display: block; */
      width: 100%;
      /* margin: 0px; */
    }
    /* ul { */
      /* float: left; */
      /* width: 100% !important; */
      /* display: block; */
    /* } */
    /* li a { */
      /* clear: all;
      width: 100% !important; */
      /* display: block; */
    /* } */
    #bullets {
      /* float: left; */
      /* width: 295px; */
      /* clear: both; */
      /* padding: 20px 0px 20px 20px; */
      /* background-color: black; */
      /* display: inline-block; */
      margin: 0px;
      padding: 0px;
      /* clear: all; */
      width: 100%;
      display: flex;
      justify-content: center;
      /* width: 100% !important; */
    }
    /* section { */
      /* float: left; */
      /* margin-bottom: 20px; */
      /* background: #fff; */
      /* display: flex;
      justify-content: center; */
      /* border-bottom: solid .5px #888; */
      /* display: block; */
    /* } */

  }


